############################### DEFAULT #####################################
# Chain ID
CHAIN_ID=167001

# Exposed ports
PORT_L2_EXECTION_ENGINE_HTTP=8545
PORT_L2_EXECTION_ENGINE_WS=8546
PORT_L2_EXECTION_ENGINE_METRICS=6060
PORT_L2_EXECTION_ENGINE_P2P=30303
PORT_PROMETHEUS=9090
PROT_GRAFANA=3000

# Comma separated L2 execution engine bootnode URLs for P2P discovery bootstrap
BOOT_NODES=enode://175403bc4f685282d2a1595b166beea7e1b57846a074885feffe9c58af61c90581793fad92f63b7992b0383ced86d657de9db6ea2aa1c7bfed7e574ebe69c638@34.123.183.168:30303

# RPC endpoints
L1_ENDPOINT_WS=wss://l1ws.a1.taiko.xyz

# Taiko protocol contract addresses
TAIKO_L1_ADDRESS=0xa7dF1d30f6456Dc72cE18fE011896105651a1f86
TAIKO_L2_ADDRESS=0x0000777700000000000000000000000000000001

# A L2 account private key for building throw-away L2 blocks, for more detailed information, please
# see whitepaper's `5.5.1 Invalid Blocks`.
L2_THROWAWAY_BLOCK_BUILDER_PRIVATE_KEY=ea6c44ac03bff858b476bba40716402b03e41b8e97e276d1baec7c37d42484a0

############################### OPTIONAL #####################################
# If you want to be a proposer who proposes L2 execution engine's transactions in mempool to Taiko L1 protocol
# contract (be a "mining L2 node"), you need to change `ENABLE_PROPOSER` to true, then fill `L1_PROPOSER_PRIVATE_KEY`
# and `L2_SUGGESTED_FEE_RECIPIENT`
ENABLE_PROPOSER=false
L1_PROPOSER_PRIVATE_KEY=      # A L1 account (with balance) private key who will send TaikoL1.proposeBlock transactions
L2_SUGGESTED_FEE_RECIPIENT=   # A L2 account address who will be the tx fee beneficiary of the L2 blocks that you proposed
