# This is the docker-compose file with L2 for the Kurtosis preconfirm devnet package.
services:
    transfer-funds:
        container_name: transfer-funds
        image: ghcr.io/foundry-rs/foundry:stable
        restart: "no"
        volumes:
            - ./script/transfer_funds_and_add_operator.sh:/transfer_funds_and_add_operator.sh:rw
            - ./.env:/envfile:ro
        working_dir: /tmp
        entrypoint: ["/bin/sh", "-c"]
        command:
            - |
                cp /transfer_funds_and_add_operator.sh ./transfer_funds_and_add_operator.sh && \
                chmod +x ./transfer_funds_and_add_operator.sh && \
                ./transfer_funds_and_add_operator.sh
        env_file:
            - .env
        networks:
            - preconf
        extra_hosts:
            - "host.docker.internal:host-gateway"

    p2p-bootnode:
        container_name: p2p-bootnode
        image: nethswitchboard/bootnode-p2p:whitelist
        command:
            - p2p-boot-node
            - p2p-bootnode
            - "9000"
        networks:
            - preconf
        volumes:
            - bootnode-data:/tmp:rw

    taiko-geth-1:
        container_name: taiko-geth-1
        image: ${TAIKO_GETH_IMAGE}
        restart: unless-stopped
        pull_policy: always
        extra_hosts:
            - "host.docker.internal:host-gateway"
        volumes:
            - ./jwtsecret.hex:/jwtsecret.hex:ro # Generate with `openssl rand -hex 32 | tr -d "\n" > jwtsecret.hex`
            - taiko-geth-data-1:/data/taiko-geth
            - ./geth-1-nodekey:/data/taiko-geth/geth/nodekey:ro
            - ./geth-1-config.toml:/data/taiko-geth/geth/config.toml:ro
        ports:
            - "${PORT_L2_EXECUTION_ENGINE_1_METRICS}:6060"
            - "${PORT_L2_EXECUTION_ENGINE_1_HTTP}:8545"
            - "${PORT_L2_EXECUTION_ENGINE_1_WS}:8546"
            - "${PORT_L2_EXECUTION_ENGINE_1_P2P}:30303"
            - "${PORT_L2_EXECUTION_ENGINE_1_P2P}:30303/udp"
            - "${PORT_L2_EXECUTION_ENGINE_1_AUTH}:8551"
        networks:
            - preconf
        labels:
            metrics_enabled: "true"
            #metrics_port: "6060"
            logs_enabled: "true"
            custom_operator: "dev"
            custom_network: "dev"
        env_file:
            - .env
        command:
            - '--syncmode=snap'
            - '--cache=4096'
            - '--maxpeers=100'
            - '--maxpendpeers=50'
            - '--txpool.globalslots=10000'
            - '--txpool.globalqueue=10000'
            - '--rpc.batch-request-limit=5000'
            - '--rpc.batch-response-max-size=50000000'
            - '--rpc.txfeecap=10'
            - '--gcmode=archive'
            - '--datadir=/data/taiko-geth'
            - '--networkid=${L2_CHAIN_ID}'
            - '--port=30303'
            - '--nodiscover'
            - '--metrics'
            - '--metrics.addr=0.0.0.0'
            #- '--metrics.port=6060'
            - '--http'
            - '--http.addr=0.0.0.0'
            - '--http.vhosts=*'
            - '--http.corsdomain=*'
            - '--ws'
            - '--ws.addr=0.0.0.0'
            - '--ws.origins=*'
            - '--authrpc.addr=0.0.0.0'
            - '--authrpc.port=8551'
            - '--authrpc.vhosts=*'
            - '--authrpc.jwtsecret=/jwtsecret.hex'
            - '--allow-insecure-unlock'
            - '--http.api=admin,debug,eth,net,web3,txpool,miner,taiko'
            - '--ws.api=admin,debug,eth,net,web3,txpool,miner,taiko'
            - '--taiko'
            - '--config=/data/taiko-geth/geth/config.toml'
            - '--nodekey=/data/taiko-geth/geth/nodekey'

    taiko-driver-1:
        container_name: taiko-driver-1
        image: ${TAIKO_CLIENT_IMAGE}
        restart: unless-stopped
        pull_policy: always
        extra_hosts:
            - "host.docker.internal:host-gateway"
        volumes:
            - ./jwtsecret.hex:/jwtsecret.hex:ro # Generate with `openssl rand -hex 32 | tr -d "\n" > jwtsecret.hex`
            - ./p2psecret-1.hex:/p2psecret.hex:ro # Generate with `openssl rand -hex 32 | tr -d "\n" > p2psecret.hex`
            - bootnode-data:/bootnode:ro
        ports:
            # P2P
            - "${PORT_P2P_DRIVER_1}:9000"
            # Metrics
            # - 6060:6061
        networks:
            - preconf
        labels:
            metrics_enabled: "true"
            metrics_port: "6061"
            logs_enabled: "true"
            custom_operator: "dev"
            custom_network: "dev"
        # Inherit env vars from parent process
        env_file:
            - .env
            - .env.stack-1
        depends_on:
            - taiko-geth-1
            - p2p-bootnode
        entrypoint: ["/bin/sh", "-c"]
        command:
            - |
                export ENR=$$(cat /bootnode/enr) && \
                exec taiko-client driver \
                  --l1.ws=$${L1_ENDPOINT_WS} \
                  --l1.beacon=$${L1_BEACON_HTTP} \
                  --jwtSecret=/jwtsecret.hex \
                  --l2.ws=ws://taiko-geth-1:8546 \
                  --l2.auth=http://taiko-geth-1:8551 \
                  --preconfirmation.serverPort=1235 \
                  --p2p.priv.path=/p2psecret.hex \
                  --p2p.listen.tcp=9000 \
                  --p2p.listen.udp=9000 \
                  --p2p.useragent=taiko \
                  --p2p.disable=false \
                  --metrics=true \
                  --verbosity=4 \
                  --p2p.advertise.ip=taiko-driver-1 \
                  --p2p.bootnodes=$$ENR


    catalyst-node-1:
        container_name: catalyst-node-1
        image: ${CATALYST_IMAGE}
        restart: unless-stopped
        pull_policy: always
        volumes:
            - ./jwtsecret.hex:/jwtsecret.hex:ro
        # ports:
            # Metrics
            # - 9898:9898
        networks:
            - preconf
        labels:
            metrics_enabled: "true"
            metrics_port: "9898"
            logs_enabled: "true"
            custom_operator: "dev"
            custom_network: "dev"
        # Inherit env vars from parent process
        env_file:
            - .env
            - .env.stack-1
        extra_hosts:
            - "host.docker.internal:host-gateway"
        depends_on:
            transfer-funds:
                condition: service_completed_successfully
            taiko-geth-1:
                condition: service_started
            taiko-driver-1:
                condition: service_started



### stack #2

    taiko-geth-2:
        container_name: taiko-geth-2
        image: ${TAIKO_GETH_IMAGE}
        restart: unless-stopped
        pull_policy: always
        extra_hosts:
            - "host.docker.internal:host-gateway"
        volumes:
            - ./jwtsecret.hex:/jwtsecret.hex:ro # Generate with `openssl rand -hex 32 | tr -d "\n" > jwtsecret.hex`
            - taiko-geth-data-2:/data/taiko-geth
            - ./geth-2-config.toml:/data/taiko-geth/geth/config.toml:ro
            - ./geth-2-nodekey:/data/taiko-geth/geth/nodekey:ro
        ports:
            - "${PORT_L2_EXECUTION_ENGINE_2_METRICS}:6060"
            - "${PORT_L2_EXECUTION_ENGINE_2_HTTP}:8545"
            - "${PORT_L2_EXECUTION_ENGINE_2_WS}:8546"
            - "${PORT_L2_EXECUTION_ENGINE_2_P2P}:30303"
            - "${PORT_L2_EXECUTION_ENGINE_2_P2P}:30303/udp"
            - "${PORT_L2_EXECUTION_ENGINE_2_AUTH}:8551"
        networks:
            - preconf
        labels:
            metrics_enabled: "true"
            #metrics_port: "6060"
            logs_enabled: "true"
            custom_operator: "dev"
            custom_network: "dev"
        env_file:
            - .env
        command:
            - '--syncmode=snap'
            - '--cache=4096'
            - '--maxpeers=100'
            - '--maxpendpeers=50'
            - '--txpool.globalslots=10000'
            - '--txpool.globalqueue=10000'
            - '--rpc.batch-request-limit=5000'
            - '--rpc.batch-response-max-size=50000000'
            - '--rpc.txfeecap=10'
            - '--gcmode=archive'
            - '--datadir=/data/taiko-geth'
            - '--networkid=${L2_CHAIN_ID}'
            - '--port=30303'
            - '--nodiscover'
            - '--metrics'
            - '--metrics.addr=0.0.0.0'
            #- '--metrics.port=6060'
            - '--http'
            - '--http.addr=0.0.0.0'
            - '--http.vhosts=*'
            - '--http.corsdomain=*'
            - '--ws'
            - '--ws.addr=0.0.0.0'
            - '--ws.origins=*'
            - '--authrpc.addr=0.0.0.0'
            - '--authrpc.port=8551'
            - '--authrpc.vhosts=*'
            - '--authrpc.jwtsecret=/jwtsecret.hex'
            - '--allow-insecure-unlock'
            - '--http.api=admin,debug,eth,net,web3,txpool,miner,taiko'
            - '--ws.api=admin,debug,eth,net,web3,txpool,miner,taiko'
            - '--taiko'
            - '--config=/data/taiko-geth/geth/config.toml'
            - '--nodekey=/data/taiko-geth/geth/nodekey'

    taiko-driver-2:
        container_name: taiko-driver-2
        image: ${TAIKO_CLIENT_IMAGE}
        restart: unless-stopped
        pull_policy: always
        extra_hosts:
            - "host.docker.internal:host-gateway"
        volumes:
            - ./jwtsecret.hex:/jwtsecret.hex:ro # Generate with `openssl rand -hex 32 | tr -d "\n" > jwtsecret.hex`
            - ./p2psecret-2.hex:/p2psecret.hex:ro # Generate with `openssl rand -hex 32 | tr -d "\n" > p2psecret.hex`
            - bootnode-data:/bootnode:ro
        ports:
            # P2P
            - "${PORT_P2P_DRIVER_2}:9000"
            # Metrics
            # - 6060:6061
        networks:
            - preconf
        labels:
            metrics_enabled: "true"
            metrics_port: "6061"
            logs_enabled: "true"
            custom_operator: "dev"
            custom_network: "dev"
        # Inherit env vars from parent process
        env_file:
            - .env
            - .env.stack-2
        depends_on:
            - taiko-geth-2
            - p2p-bootnode
        entrypoint: ["/bin/sh", "-c"]
        command:
            - |
                export ENR=$$(cat /bootnode/enr) && \
                exec taiko-client driver \
                  --l1.ws=$${L1_ENDPOINT_WS} \
                  --l1.beacon=$${L1_BEACON_HTTP} \
                  --jwtSecret=/jwtsecret.hex \
                  --l2.ws=ws://taiko-geth-2:8546 \
                  --l2.auth=http://taiko-geth-2:8551 \
                  --preconfirmation.serverPort=1235 \
                  --p2p.priv.path=/p2psecret.hex \
                  --p2p.listen.tcp=9000 \
                  --p2p.listen.udp=9000 \
                  --p2p.useragent=taiko \
                  --p2p.disable=false \
                  --p2p.advertise.ip=taiko-driver-2 \
                  --metrics=true \
                  --verbosity=4 \
                  --p2p.bootnodes=$$ENR

    catalyst-node-2:
        container_name: catalyst-node-2
        image: ${CATALYST_IMAGE}
        restart: unless-stopped
        pull_policy: always
        volumes:
            - ./jwtsecret.hex:/jwtsecret.hex:ro
        # ports:
            # Metrics
            # - 9898:9898
        networks:
            - preconf
        labels:
            metrics_enabled: "true"
            metrics_port: "9898"
            logs_enabled: "true"
            custom_operator: "dev"
            custom_network: "dev"
        # Inherit env vars from parent process
        env_file:
            - .env
            - .env.stack-2
        extra_hosts:
            - "host.docker.internal:host-gateway"
        depends_on:
            transfer-funds:
                condition: service_completed_successfully
            taiko-geth-2:
                condition: service_started
            taiko-driver-2:
                condition: service_started

volumes:
    taiko-geth-data-1:
    taiko-geth-data-2:
    bootnode-data:

networks:
    preconf:
        driver: bridge
