x-logging: &logging
  logging:
    options:
      max-size: 10m
      max-file: "3"

services:
  l2_execution_engine:
    image: taiko-mainnet
    restart: unless-stopped
    pull_policy: if_not_present
    env_file:
      - .env
    stop_grace_period: 3m
    volumes:
      - l2_execution_engine_data:/data/taiko-nethermind
    ports:
      - "${PORT_L2_EXECUTION_ENGINE_METRICS}:6060"
      - "${PORT_L2_EXECUTION_ENGINE_HTTP}:8545"
      - "${PORT_L2_EXECUTION_ENGINE_WS}:8546"
      - "${PORT_L2_EXECUTION_ENGINE_P2P}:${PORT_L2_EXECUTION_ENGINE_P2P}"
      - "${PORT_L2_EXECUTION_ENGINE_P2P}:${PORT_L2_EXECUTION_ENGINE_P2P}/udp"
    command: |
      -c taiko-mainnet
      --JsonRpc.Host=0.0.0.0
      --JsonRpc.EnabledModules=debug,eth,net,web3,txpool,taiko
      --JsonRpc.AdditionalRpcUrls=http://0.0.0.0:${PORT_L2_EXECUTION_ENGINE_WS}|http;ws|net;eth;subscribe;engine;web3;client;taiko"
      --Network.P2PPort=${PORT_L2_EXECUTION_ENGINE_P2P}
      --Network.DiscoveryPort=${PORT_L2_EXECUTION_ENGINE_P2P}
      ${EL2_ADDITIONAL_ARGS:-}
    <<: *logging
    profiles:
      - l2_execution_engine
      - prover
      - proposer

  taiko_client_driver:
    image: us-docker.pkg.dev/evmchain/images/taiko-client:taiko-client-v0.28.0
    restart: unless-stopped
    pull_policy: always
    depends_on:
      - l2_execution_engine
    env_file:
      - .env
    volumes:
      - l2_execution_engine_data:/data/taiko-geth
      - ./script:/script
    entrypoint:
      - /bin/sh
      - -c
      - "/script/start-driver.sh"
    <<: *logging
    profiles:
      - l2_execution_engine
      - prover
      - proposer

  taiko_client_prover_relayer:
    image: us-docker.pkg.dev/evmchain/images/taiko-client:taiko-client-v0.28.0
    restart: unless-stopped
    pull_policy: always
    depends_on:
      - l2_execution_engine
      - taiko_client_driver
    ports:
      - "${PORT_PROVER_SERVER}:9876"
    env_file:
      - .env
    volumes:
      - ./script:/script
    entrypoint:
      - /bin/sh
      - -c
      - "/script/start-prover-relayer.sh"
    <<: *logging
    profiles:
      - prover

  taiko_client_proposer:
    image: us-docker.pkg.dev/evmchain/images/taiko-client:taiko-client-v0.28.0
    restart: unless-stopped
    pull_policy: always
    depends_on:
      - l2_execution_engine
      - taiko_client_driver
    env_file:
      - .env
    volumes:
      - l2_execution_engine_data:/data/taiko-geth
      - ./script:/script
    entrypoint:
      - /bin/sh
      - -c
      - "/script/start-proposer.sh"
    <<: *logging
    profiles:
      - proposer

  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    ports:
      - ${PORT_PROMETHEUS}:9090
    depends_on:
      - l2_execution_engine
      - taiko_client_driver
    volumes:
      - ./docker/prometheus/l2:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - --log.level=debug
      - --config.file=/etc/prometheus/prometheus.yml
    <<: *logging
    profiles:
      - l2_execution_engine
      - prover
      - proposer

  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - ${PORT_GRAFANA}:3000
    depends_on:
      - l2_execution_engine
      - taiko_client_driver
      - prometheus
    environment:
      - GF_PATHS_CONFIG=/etc/grafana/custom/settings.ini
      - GF_PATHS_PROVISIONING=/etc/grafana/custom/provisioning
      - GF_LOG_LEVEL=WARN
    volumes:
      - ./docker/grafana/custom/settings.ini:/etc/grafana/custom/settings.ini
      - ./docker/grafana/custom/l2/provisioning/:/etc/grafana/custom/provisioning/
      - grafana_data:/var/lib/grafana
    <<: *logging
    profiles:
      - l2_execution_engine
      - prover
      - proposer

volumes:
  l2_execution_engine_data:
  prometheus_data:
  grafana_data:
